/* style.css */

body {
    background-color: rgb(160, 241, 214);
    font-family: "Times New Roman", "Arial", sans-serif;
}

h1 {
    text-align: center;
}

top > img {
    margin: auto;
    display: block;
    width: 40%;
    font-size: 100px;
}

top {
    font-size: large;
}